
:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    /* smaller width */
    max-width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #556B2F;
    font-size: 3rem;
    /* smaller font */
    border-radius: 0.5rem;
    perspective: 500px;
    transform-style: preserve-3d;
    color: #E6D8AD;
    box-shadow: 0 0.7rem 0 #2d3a15;
    overflow: hidden;
    /* Fix scrollbars during flip */
    will-change: transform;
    /* Hint for better animation */

@media screen and (max-width: 45rem) {
        .card {
            font-size: 1.5rem;
            perspective: 100px;
            width: 120px;
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 5%;
        aspect-ratio: 1 / 1;
        background-color: #2d3a15;
        border-radius: 0 100% 0 0;
        bottom: 50%;
        left: 0;
        z-index: 2;
    }

    &::after {
        content: "";
        position: absolute;
        width: 5%;
        aspect-ratio: 1 / 1;
        background-color: #2d3a15;
        border-radius: 100% 0 0 0;
        bottom: 50%;
        right: 0;
        z-index: 2;
    }

    .card-half {
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        overflow: hidden;
        backface-visibility: hidden;

        &.bottom {
            bottom: 0;
            background-color: #556B2F;
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
            transform-origin: top;
            z-index: 2;
            box-shadow: 0 -1px 2px #2d3a15;

            &.flip {
                rotate: x 180deg;
                z-index: 2;
            }

            &::before {
                content: "";
                position: absolute;
                width: 5%;
                aspect-ratio: 1 / 1;
                background-color: #2d3a15;
                border-radius: 0 0 100% 0;
                top: 0;
                left: 0;
                z-index: 2;
            }

            &::after {
                content: "";
                position: absolute;
                width: 5%;
                aspect-ratio: 1 / 1;
                background-color: #2d3a15;
                border-radius: 0 0 0 100%;
                top: 0;
                right: 0;
                z-index: 2;
            }

            .content {
                position: absolute;
                inset: -100% 0 0 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: darken(#E6D8AD, 3);
            }
        }

        &.top {
            top: 0;
            background-color: #556B2F;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            transform-origin: bottom;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                width: 5%;
                aspect-ratio: 1 / 1;
                background-color: #2d3a15;
                border-radius: 0 100% 0 0;
                bottom: 0;
                left: 0;
                z-index: 2;
            }

            &::after {
                content: "";
                position: absolute;
                width: 5%;
                aspect-ratio: 1 / 1;
                background-color: #2d3a15;
                border-radius: 100% 0 0 0;
                bottom: 0;
                right: 0;
                z-index: 2;
            }

            .content {
                position: absolute;
                inset: 0 0 -100% 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.label {
    color: #974955;
    -webkit-text-stroke: .5px rgb(125, 122, 122);
        -webkit-text-fill-color: #d56979;
        text-shadow:
            1px 1px 1px rgba(109, 108, 108, 0.5),
            -1px -1px 1px rgba(113, 112, 112, 0.5);
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-shadow: 0 0.1rem 0.2rem rgba(73, 71, 71, 0.3);
    @media screen and (max-width: 45rem) {
        font-size: 0.5rem;
    }
}